<div class="comment">
  <div class="comment__left">
    <img class="comment__profile" src="" alt="profile">
  </div>
  <div class="comment__right">
    <div class="comment__top">
      <span class="comment__nickname"></span>
      <span class="comment__userid"></span>
      <span class="comment__createat"></span>
    </div>
    <div class="comment__bottom">
      <span class="comment__context"></span>
    </div>
  </div>
  <div class="comment__delete">X</div>
  <div class="comment__edit">E</div>
</div>