<header class="header">
	<div class="header__left">
		<img class="header__icon" src="src/rkdeofuf.jpg" />
		<div class="header__name">Dwitter</div>
	</div>
	<div class="header__right">
		 <% if (login === true) { %>
		<div class="header__alltweets">
			<a href="/alltweets" class="alltweets">All Tweets</a>
		</div>
		<div class="header__mytweet">
			<a href="/mytweets" class="mytweets">My Tweets</a>
		</div>
		<% } %> <% if (login === true) { %>
		<div class="header__logout"><a href="/signout">Logout</a></div>
		<% } else { %>
		<div class="header__login"><a href="/signin">Login</a></div>
		<% } %>
	</div>
</header>
