<header class="header">
	<div class="header__left">
		<img class="header__icon" src="src/rkdeofuf.jpg" />
		<div class="header__name">Dwitter</div>
	</div>
	<div class="header__right">
		<div class="header__login"><a href="/login">Login</a>≈</div>
	</div>
</header>
